<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activesenior">

    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />






    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActiveSenior">

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- 앱 실행 시 첫 화면 -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name=".activities.MainActivity" />

        <!-- 나머지 화면들 등록 -->
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.AiMentorActivity" />
        <activity android:name=".activities.CustomerServiceActivity" />
        <activity android:name=".activities.ManualActivity" />
        <activity android:name=".activities.ChangePasswordActivity"/>
        <activity android:name=".activities.DeleteAccountActivity"/>
        <activity android:name=".activities.SuggestionActivity"/>
        <activity android:name=".activities.ChatActivity"/>
        <activity android:name=".activities.ChatRoomActivity"/>
<!--        <activity android:name=".activities.ChatRoomActivity" android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="ChatActivity" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
<!--        </activity>-->



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".activities.FindMentorActivity" />





    </application>

</manifest>
