<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activesenior">

    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActiveSenior">

        <!-- 앱 실행 시 첫 화면 -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activities.MainActivity" />

        <!-- 나머지 화면들 등록 -->
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.MentorListActivity" />

    </application>
</manifest>
